body {
  font-size: 62.5%;
  background-color: darkslategray;
  text-align: center;
}

header h1 {
  font-size: 2.4rem;
  color: lightgray;
}

section#content {
  border-radius: 1rem;
  background-color: thistle;
  margin: 2vh 10vw;
  height: 80vh;
  overflow: auto;

}

form#add-items {
  float: left;
  width: 8rem;
  margin: 1rem 2rem;
  font-size: 1.2rem;
  text-align: left;
}

ul#todo-list {
  padding: 0 25vw;
  margin-left: 1rem;
}


ul#todo-list li{
  display: flex;
  padding: 2rem;
  justify-content: center;
  background-color: darkslategray;
  font-size: 1.6rem;
  word-wrap: break-word;
  color: white;
  height: fit-content;
  width: fit-content;
  position: relative;
  border-radius: 0.5rem;
  margin: 1rem;
}

ul#todo-list li button {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  box-shadow: 0 0 3px white;
  position: absolute;
  margin: 0.5rem;
  border-radius: 1rem;
}

ul#todo-list li button.removed {
  right: 0;
  top: 0;
  color: red;
}

ul#todo-list li button.completed {
  left: 0;
  top: 0;
  color: lightblue;
}

ul#todo-list li:hover button {
  display: inline;
}

li.completed-item {
  text-decoration: line-through;
}
